@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap%22");

.contenedorhab {
  font-family: "Abel", sans-serif;
}

.tituloproy {
  font-size: 5em;
}

.tar-con {
  height: 30em;
  margin-bottom: 6em;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tar {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.tar .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  background-image: url("../../assets/pixel.jpg");
}

.tar .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #3345d2 0%, #ab6bc3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.tar .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #3345d2 0%, #ab6bc3 100%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.tar .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.tar:hover .content {
  transform: translateY(0);
}

.tar:hover .front-content {
  transform: translateY(-30%);
}

.tar:hover .front-content p {
  opacity: 0;
}

.bu {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.bu:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.bu:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.bu:hover::before {
  filter: blur(20px);
}

.bu:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
