@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap%22");

.body {
  margin: 0;
  padding: 0;
}

.titulo {
  font-family: "Abel", sans-serif;
  font-size: 1.9em;
}

.subtitulo {
  font-family: "Abel", sans-serif;
}

.texto {
  font-family: "Abel", sans-serif;
}

.bg-custom {
  background-color: #fafcfd;
}

.circleBtn {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 15em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(131, 130, 141, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #1311ad;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.gmail {
  margin-top: 1.5em;
  margin-left: 0.7em;
  margin-bottom: 0.6em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1311ad;
}

.card1:hover .linkedin {
  fill: transparent;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #d9504b;
}

.card2:hover .gmail {
  fill: transparent;
  display: none;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: transparent;
}

.tarjeta {
  display: none;
}

.tarjeta.show {
  display: block;
}

.tarjeta.hide {
  display: none;
}

.disctarjeta {
  line-height: 1.2em;
  font-family: "Abel", sans-serif;
  background-color: #fafcfd;
  text-decoration: none;
}
