#textoInput {
    overflow: hidden;
    border-right: 0.15em solid orange; /* Cursor intermitente */
    white-space: nowrap; /* Evitar que el texto se desplace */
    margin: 0;
    letter-spacing: 0.15em; /* Espaciado entre letras */
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }